
.textoReview #text{
    width: 50%;
}


.estudianteDestacada{
    padding: 40px;
    width: 24%;
    margin-bottom: 0px;
}

.caja-inferior {

    margin-top: 250px; /* Ajusta el espacio entre la caja inferior y el cuadro */
}

.informacionCarnet{
    padding: 60px;
}

.cardCarnet{
    padding: 30px;
    text-align: justify;
    box-shadow: 1px 0px 5px 1px;
    margin-bottom: 0px;
}

.cardCarnet button{
    float: right;
}

.carouselExampleIndicators{
    padding: 7rem 2rem 2rem 4rem;
}

.boxInformacionAmbiento{
    padding: 20px;
}

.imgMoto{
    padding: 60px;
}

.imgCoche{
    padding: 60px;
}

.informacionCoche{
    padding: 30px;
}
.cajaDeInformacion{
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 10px;
    z-index: 4; 
}

.cajaInformacionSegundario{
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
}

.cardInformacion{
    width: 30%;
    box-shadow: 0px 0px 2px 1px;
    text-align: center;
    margin-bottom: 0px;
}

.cardInformacion p{
    text-align: start;
}


.informacionMoto{
    padding: 30px;
}

.informacionAlumno{
    padding: 30px;
}

.opinionesAlumnoCard{
    padding: 20px;
}

.cardAlumno{
    border-radius: 10px;
}

.cajaSecundarioAlumno{
    height: 100%;
}

.cardAlumno{
    height: 100%;
}

.formularioContacto{
    margin-top: 50px;
    width: 50%;
}

.botonEnvio{
    width: 50%;
    float: right;
}
textarea {
    height: 86px;
    resize: none;
}

.backgroundContent{
    width: 100%;
    height: 275px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(180deg, #EC2526 36.46%, rgba(236, 37, 38, 0) 170.55%);
    clip-path: polygon(0 0, 100% 35%, 100% 100%, 0% 100%);
}
.tipoCarnetPeque{
    position: relative
}

.imgInfo{
    position: relative;
    width: 60px;
    height: 60px;
}

.circleButtonInfo{
    width: 80px;
    height: 80px;
    border-radius: 500px;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .4s ease-in-out;
}

.h2Autoescuela{
    font-size: 30px;
}

.IconTiposCarnets{
    margin-top: 30px;
    height: 90px;
    width: 90px;
    background-color: red;
    border-radius: 500px;
    transition-duration: 0.5s;
    cursor: pointer;
}

.IconTiposCarnets:hover{
    background-color: white;
    border: 1px solid black;
}

.textoOfrece{
    font-size: 1rem;
}

.absoluteImgGalardonada{
    position: relative;
}

.imgTopVia{
        position: absolute;
        height:  350px;
        overflow: hidden;
        z-index: 0;
    }

    .shadow{
        position: absolute;
        width: 100%;
        height: 350px;
        background-color: black;
        z-index: 5;
        opacity: 0.5;
    }

    .SobreNosotroText{
        position: relative;
        width: 100%;
        height: 350px;
        margin: 0px;
        padding-left: 10%;
        z-index: 6;
        font-weight: 800;
    }

    .squarePasadoExamen{
        padding: 20px;
        height: 200px;
        backdrop-filter: blur(10px);
        background: rgba(255, 255, 255, 0.05);
        border: 1px solid rgba(255, 255, 255, 0.15);
        transition-duration:1s;
    }

    .squarePasadoExamen:hover{
        background-color:#D61819;
    }

    .cardCarousel{
        display: none;
    }

.shadowPortada{
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.4;
    margin: 0px;
}

.contentShadowBox{
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 100%;
}

.grandText{
    font-size: 74px;
    font-family:Arial, Helvetica, sans-serif;
}

.slimeTest{
    font-size: 20px;
}

.p-carousel-item{
    width: 50%;
}

@media only screen and (max-width: 1200px) {
    .cajaInformacionSegundario{
        visibility: hidden;
        padding: 10px;
    }
    .caja-inferior{
        margin: 0px;
    }

    .informacionCarnet{
        padding: 30px;
    }

    .tipoCarnetPeque{
        padding: 20px;
    }

    .cardCarnet{
        padding: 20px;
        margin: 0px!important;
    }

    .padding20{
        padding: 20px;
    }
    .motoTopMargin{
        margin-top: 20px!important;
    }

    .resenyaCol12{
        visibility: hidden;
        height: 0px;
    }
    .resenyaCol6{
        visibility: visible;
    }

    .iconCoches{
        display: none!important;;
    }

    .cardCarousel{
        visibility: visible;
        display: block;
    }

    .cardInformacion{
        display: none;
    }

    .squarePasadoExamen h2{
        font-size: 20px;
    }

    .p-carousel-indicators{
        display: none;
    }
}

@media only screen and (max-width: 760px) {
    #contentBox h2{ 
        font-size: 13px;
        padding-bottom: 0px!important;
    }
    
    .mainText{
        font-size: 16px!important;
        margin-bottom: 0.3rem!important;
        margin-top: 0px!important;
    }

    .buttonInfo{
        width: 50%;
        font-size: 10px;
    }
    .carousel-inner{
        height: 100%;
    }
    .backgroundContent{
        height: 50%;
    }
    .galadonadaTexto{
        font-size: 15px;
    }

    .bottonInfo{
        padding: 0px!important;
    }

    .circleButtonInfo{
        width: 40px;
        height: 40px;
    }

    .h2Autoescuela{
        font-size: 18px;
    }
    .proporcionamosP{
        font-size: 11px!important;
        margin-bottom: 15px!important;
    }

    .textoOfrece{
        font-size: 8px;
    }

    .IconTiposCarnets{
        width: 50px;
        height: 50px;
    }

    .textoOfreceH4{
        font-size: 13px;
    }

    .informacionCarnet{
        padding-bottom: 0px;
    }

    .SobreNosotroText h2{
        font-size: 15px;
    }

    .preparado{
        font-size: 16px!important;
    }

    .buttonContactar{
        width: 90%;
        font-size: 8px;
        padding: 10px;
    }
    .squarePasadoExamen{
        height: 50px;
        margin-top: 10px;
    }

    .informacionCarnet h1{
        font-size: 15px;
    }

    .p-carousel-indicators{
        display: block;
    }

    .w-full{
        height: 200px!important;
    }
}